{% extends "shared/_layout.html" %}
{% block title %}About PyPI Demo{% endblock %}


{% block main_content %}
    <form action="" method="POST">
        <h1>Register at PyPi</h1>
        <input type="text" class="name" placeholder="Name">
        <input type="text" class="email" placeholder="Email">
        <input type="password" class="password" placeholder="Password">
        <button type="submit">Register</button>
    </form>

{% endblock %}


{% block additional_css %}
    <!-- this would be css from about.html -->
{% endblock %}