{% extends "shared/_layout.html" %}
{% block title %}About PyPI Demo{% endblock %}


{% block main_content %}

    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Register at PyPi2</h1>
            <input type="text" class="form-control" placeholder=" Name">
            <input type="text" class="form-control" placeholder=" Email">
            <input type="password" class="form-control"
                   placeholder=" Password">
            <button type="submit" class="btn btn-danger"
                    placeholder="Register">Register
            </button>
            <div style="clear: both;"></div>
        </form>
    </div>

{% endblock %}


{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}