[Unit]
Description=uWSGI PyPI server instance
After=syslog.target

[Service]
# https://uwsgi-docs.readthedocs.io/en/latest/Snippets.html
ExecStart=uwsgi -H /pypi/.venv/ --master --processes 4 --threads 2 --http :5000 --manage-script-name --python-path /pypi/ --mount /=wsgi:app
#ExecStart=uwsgi --ini /pypi/server/wsgi.ini
RuntimeDirectory=/pypi/server/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
