{% extends "shared/_layout.html" %}
{% block title %}Examples Flask{% endblock %}

{% block main_content %}
    <h1>Examples Flask</h1>

    <div>
        {% set static_param1 = 'static_param1_from_jinja' %}
        <a href="{{ url_for(
        'home.examples', param1=param1, param2=param2) }}">
            Replicated URL from Jinja template w/ params: {{ param1, param2 }}
        </a>
    </div>
{% endblock %}

{% block additional_css %}
    <!-- this would be css from about.html -->
{% endblock %}